
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;1,400&display=swap');

.bodyContent{
    font-family: 'Cormorant Garamond', serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: radial-gradient(#A5FECB,#20BDFF,#5433FF); */
    /* background: radial-gradient(#ffdde1,#ee9ca7); */
    /* background: linear-gradient(to right,#C6FFDD,#FBD786,#f7797d); */
    background-image: url('../assets/bg.jpg');
    /* background: #514A9D; */
    /* background: #07102e; */
}

.PlayerCard{
    width: 400px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.187);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}

.PlayerCard h1{
    font-size: 16px;
}

.songImg{
    width: 50%;
    height: 50%;
    border-radius: 50%;
}


.motionIcons{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    bottom: 14px;
}

/* 
.circleOne{
    position: absolute;
    bottom: 10px;
    right: 13%;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background: linear-gradient(#f857a6,#ff5858);
}
.circleTwo{
    position: absolute;
    top: 30px;
    left: 25%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(#7F7FD5,#86A8E7,#91EAE4);
} */

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }